header{
    color: rgb(11, 94, 66);
    text-align: left;
}
body{
    background-color: azure;
}
#hr_1{
    width: 360px;
    position: absolute;
    top: 38%;
    right: 47.5%;

}
#hr_2{
    width: 498px;
    position: absolute;
    top: 65%;
    right: 46.5%;

}
#hr_3{
    width: 470px;
    position: absolute;
    top: 95.5%;
    right: 47%;

}
#hr_4{
    width: 450px;
    position: absolute;
    top: 119%;
    right: 47.5%;

}
#p_school_years{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
#p_highschool_years{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.color_parts {
    color: black;
    font-weight: 500;
}

.hobbies_style {
    font-size: larger;
    font-weight: 300;
    font-style: initial;
}

.skills_style {
    font-size: larger;
    font-weight: 300;
    font-style: initial; 
}

.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background-color: rgb(12, 90, 90);
}
