

body {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .right_side {
    position: relative;
    background: rgb(7, 77, 82);
    padding: 40px;
}

.profileName{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.profileName .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileName .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileName h2 {
  color: aliceblue;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileName h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo{
    padding-top: 40px;
}

.title
{
    color: aliceblue;
    text-transform: 600;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.contactInfo ul{
    position: relative;
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li span{
    color: aliceblue;
    font-weight: 300;
}

.contactInfo.education li {
margin-bottom: 15px;
}

.contactInfo.education h4{
    color: rgb(55, 112, 187);
    font-weight: 500;
    margin-bottom: -10px;
}

.contactInfo.education h3{
    color: aliceblue;
    font-weight: 500;
}

.contactInfo.language .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(27, 34, 46);
    display: block;
    margin-top: 5px;
}

.contactInfo.language .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(31, 122, 207);
}
.container .left_side{
    position: relative;
    background: white;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: rgb(27, 27, 71);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: rgba(27, 27, 71);
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: rgb(141, 124, 103);
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: rgb(23, 23, 88);
    font-size: 16px;
}

.skills .box{
   position: relative; 
   width: 100%;
   display: grid;
   grid-template-columns: 150px 1fr;
   justify-content: center;
   padding-bottom: -10px;
}

.skills .box h3{
    text-transform: uppercase;
    color: rgb(22, 24, 24);
    font-weight: 500;
}

.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: rgb(102, 90, 90);
}

.skills .box .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(14, 90, 141);

}